.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  max-width: 80%;
  margin: 0 auto;
  
}


ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-item {
  padding: 15px;
  text-decoration: none;
}

.list-item a{
  text-decoration: none;
}

a {
  color: black;
}


header{
  background-color: #FFC017;
  border-bottom:1px solid black;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.head{
  display: flex;
  justify-content: space-between;
  height: 76px;
  line-height: 250%;

}

.headLogo a{
  font-size: 34px;
  text-decoration: none;
  line-height: 200%;
}

.headerList{
  display: flex;
  width: 500px;
  justify-content: space-between
}


.headerList p{
  cursor: pointer;
}

.getstarted{
  background-color: black;
  color: #FFC017;
  border: solid 1px black;
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  height: 38px;
  width: 105px;
  margin-top: 18px
}

.startreading{
  background-color: #191919;
  height: 42px;
  width: 213px;
  border-radius: 20px;
  border: 1px solid black;
  color: white;
  font-size: 20px
}

.section-1{
  background-color: #FFC017;
  top:70px;
  
  position: relative;
}


.mainstay{
 text-align: start;
 
}

.mainstay h1{
  font-size: 106px;
  
}


.mainstay p{
  font-size: 24px;
  width: 400px;
  margin-top: -40px;
  padding-bottom: 40px
}

.mainimg{
 
}


.trend{
  text-align: start;
}

 .trend-card{
  text-align: start;
 }

 .trending-cards{
  justify-content: space-between
 }


 .trend-card h4{
  font-size: 15px;
  
 }

 .trend-body{
  font-weight: bold;
 }

 .trend-footer{
  color: rgba(117, 117, 117, 1);
  font-size: 13px;
  line-height: 20px;
  margin-top: -20px;
}
.trend-footer p{
  
}

.aaa{
  display: flex;
}

.aa{
  display: flex;
}

.trend-body h2{
  font-size: 16px;
  margin-top: -10px;
  font-weight: bold;
}


.section-3{
  padding-top: 100px;
}

.news-cards{
  text-align: start;
}

.news-head{
  display: flex;
  flex-wrap: wrap;
}

.news-head img{
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.news-cont{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  
  
}

.news-title{
  flex-wrap: wrap;
  width: 80%;

}


.news-body p{
  color: #757575; 
  width: 70%; 
}


.news-footer{
  color: #757575;
}

.news-img img{
  object-fit: cover;
  height: 20vh
}

.hr{
  margin-top: 100px
}

.categoryText {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #757575;
  margin-bottom: 0;
}

.categoryCard {
  border: 2px solid rgb(241 241 241);
  padding: 5px 20px;
  border-radius: 5px;
  text-align: center;
}




body.active-modal{
  overflow-y: hidden;
}
.btn-modal{
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal{
  background-color: rgba(255, 255, 255, 0.95);
}


.close-icon{
  margin-left: 620px;
  font-size: 20px;
  margin-top: -20px;
  cursor: pointer;
}


 
.modal-box{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 695px;
  height: 675px;
}

.modal-content{
  padding: 40px 50px;
  box-shadow: 0px 0px 20px #ccc;
  border: none;
  align-items: center;
}

.modal-content h2{
  padding-bottom: 80px;
}

.btn{
  width: 212px;
  height: 41px;
  border-color: rgb(168, 168, 168);
  border-radius: 20px;
  margin-top: 10px;
  width: 250px;
}

.sign{
  text-align: start;
}

.btn:hover{
border-color: black;
}

.google-btn{
  
}

.google-btn img{
height: 17px;
margin-right: 10px;

}

.email-btn img{
  height: 17px;
  margin-right: 10px;  
}
.facebook-btn img{
  height: 17px;
  margin-right: 10px;  
}
.twitter-btn img{
  height: 17px;
  margin-right: 10px;  
}
.apple-btn img{
  height: 22px;
  margin-right: 6px;  
}

.create-one{
  padding-top: 50px;
}


.create-one b{
  color: rgb(26, 137, 23);
  cursor: pointer;
  font-weight: bold;
}

.create-one b:hover{
  color: rgb(26, 90, 23);
}


.get-help{
  padding-top: 40px;
  color: rgba(117, 117, 117, 1);
}
.get-help a{
  color: rgba(117, 117, 117, 1);
}

.privacy{
  padding-top: 20px;
  color: rgba(117, 117, 117, 1);
}

.privacy a{
  color: rgba(117, 117, 117, 1);
}

.login{
  width: 100px;
  margin-top: 0px;
}
.login p{
  margin-top: -5px;
  
}
.sign-in{
  width: 100px;
  margin-top: 0px
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");